body {
    background-color: lightgray;
}
img {
    border: 10px solid red;
    float: right;
    
}
.content-1 {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
    box-shadow: 12px 12px 12px;
}